//font
$font-family: Roboto-Regular;

//colors
$cl-white: #ffffff;
$cl-black: #282830;
$cl-black-dr: #18181c;
$cl-grey-lt: #fafafa;
$cl-grey-dr: #757c84;
$cl-red: #ec3e5a;
$cl-green: #20a95a;
$cl-background: rgba(#e5e5e5, 0.3);
