@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.ttf');
      font-weight: $weight;
      font-style: $style;
      font-display: swap;
    }
  }
  
  @include font-face("Roboto-Regular", "../font/Roboto-Regular", 400);
  @include font-face("Roboto-Bold", "../font/Roboto-Bold", 700);